@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body{
    background-color: var(--color-2);
    background-image: url(../storage/img/imafondo.svg);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* background: green; */
}
main{
    gap: 20px;
}
.name_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.name_page img{
}
.name_page p{
    color: var(--color-1);
    font-family: parraf;
    letter-spacing: 2px;
    margin-left: 10px;
}
.img_text{
    padding-right: 15px;
}
.img_text img{
}
.main_title{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.main_title h1{
    font-family: title;
    font-size: 2rem;
    color: var(--color-1);
}
.main_title h3{
    font-family: subtitle;
    font-size: 2rem;
    color: var(--color-1);
}
.main_information{
    /* background-color: red; */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.main_text{
    /* background-color: blue; */
}
.main_text small{
    font-family: texto;
    color: var(--color-1);   
}
.main_resources{
    margin-left: 7px;
}
.seccion_total{
    display: flex;
    flex-direction: row;
    gap: 65px;
}
.main_text h5{
    font-family: parraf;
    font-size: 1.5rem;
    color: var(--color-1);
}
.main_textsmall{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 7px;
}
.main_bar img{
    display: flex;
    flex-direction: row;
    width: 155px;
   
}
.section_transactions{
    background: var(--color-1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.section_transactions h2{
    font-family: parraf;
    font-size: 1.3rem;
    color: var(--color-2);

    padding: 20px;
}
.section_transactions p{
    font-family: transaction;
}
.transaction__history{
    /* background-color: red;   */
    padding-left: 20px;
    padding-right: 20px;
    height: 22vh;
    overflow-y: scroll;
}




.activities_type{
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 10px;

}

.activity_class {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 150px;
    
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 10px #e2dede;
}

.activity_class img{
    display: flex;
    flex-direction: row;
    width: 48px;
    height: 88px;
    align-self: center;
    align-content: center;
}
.transaction_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.transaction_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.transactions{
    background-color: var(--color-1);
}
.transactions__title h2{
    /* background-color: yellow !important; */

    font-family: parraf;
    color: var(--color-2);

    padding: 20px;
}
.transaction_list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.transaction_list h6{
    display: flex;
    font-family: parraf;
    font-size: 0.9rem;
    color: var(--color-2);
}
.transaction_list small{
    display: flex;
    font-family: subtitle;
    font-size: 0.7rem;
    color:var(--color-4);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    background: var(--color-2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-top: 20px;
}
.main_point{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_point__icon img{
    width: 40px;
}
.main_point__CIRCLE img{
    width: 10px;
}