:root{
    --color-1:#FFFFFF;
    --color-2:#33404F;
    
}
@font-face {
    font-family: title;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family: parraf;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: subtitle;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family: texto;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family: transaction;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Semibold.otf);
}