:root{
    --color-1:#025951;
    --color-2:#FFFFFF;
    --color-3:#0b174b;
    --color-4:#d6d6d6;
    --color-5: #00DDA3;
    --color-6: #E1FFEF;
    --color-7: #0058a5;
    --color-8: #75BFAA;
    --color-9: #c94009;
    --color-10: #33404F;
    --color-cover: #41A689;

    }
    @font-face {
    font-family: title;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Heavy.otf);
    }
    @font-face {
    font-family: parraf;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
    }
    @font-face {
    font-family: subtitle;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.otf);
    }
    @font-face {
    font-family: texto;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Medium.otf);
    }
    @font-face {
    font-family: transaction;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Semibold.otf);
    }
    @font-face {
    font-family: smalls;
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
    }