<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My card</title>
    <link rel="stylesheet" href="../css/card.css">
</head>
<body>
    <header class="header">
        <div class="name_page">
            <img src="../storage/img/logooscuro.svg">
            <p>INVETO</p>
        </div>
            <div class="img_text">
                <img src="../storage/img/logotextblack.svg"> 
            </div>
    </header>
    <main class="main">
        <div class="title"><h2>Investing Tips</h2></div>
        <section class="main__section_pig">
            
            <article class="card__pig">
                <div class="pig">
                    <img src="../storage/img/pig.svg">
                </div>
                <div class="card_pig_information">
                    <h3>What is an ETF? </h3>
                    <small>By James B, PHD</small>
                    <a>LEARN MORE</a>
                </div>
                <div class="exit">
                    <img src="../storage/img/exit.svg">
                </div>
            </article>
        </section>
        <section class="main__section_card">
            <div class="title"><h2>My Cards (4)</h2></div>
            <article class="main_information_card">
                <div class="main_cards">
                    <div class="cards_type">
                        <div><img src="../storage/img/imgcard.svg"></div>
                        <div><h5>**** 6175</h5></div>
                    </div>
                    <div class="card_total"><span>$</span><h2>47,417</h2></div>
                    <div><img src="../storage/img/lunadoble.svg"></div>
                </div>
            </article>
        </section>
    </main>








    <footer class="footer">
         
        <a class="main_point" href="#">
            <div class="main_point__icon"><img src="../storage/img/house.svg"></div>
            <!-- <div class="main_point__CIRCLE"><img src="storage/img/punto.svg"></div> -->
        </a>
 
       <a class="main_point" href="/view/balance.html">
            <div class="main_point__icon"><img src="../storage/img/book.svg"></div>
            <!-- <div class="main_point__CIRCLE"><img src="storage/img/punto.svg"></div> -->
        </a>
   
   
        <a class="main_point" href="/view/card.html">
            <div class="main_point__icon"><img src="../storage/img/menugreen.svg"></div>
            <div class="main_point__CIRCLE"><img src="../storage/img/punto.svg"></div>
        </a>
 
   
        <a class="main_point" href="#">
            <div class="main_point__icon"><img src="../storage/img/campana.svg"></div>
            <!-- <div class="main_point__CIRCLE"><img src="storage/img/punto.svg"></div> -->
        </a>


        <a class="main_point" href="../index.html">
            <div class="main_point__icon"><img src="../storage/img/usersimple.svg"></div>
            <!-- <div class="main_point__CIRCLE"><img src="storage/img/punto.svg"></div> -->
        </a>
  

    </footer>
</body>
</html>